@model RAS.Web.ViewModels.ProductViewModel
@*
@{
    ViewData["Title"] = "Create Product";
}

<h2>@ViewData["Title"]</h2>

@using (Html.BeginForm("ProductCreate", "Product", FormMethod.Post, new { enctype = "application/json" }))
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        @Html.LabelFor(model => model.Category, htmlAttributes: new { @class = "control-label" })
        @Html.EditorFor(model => model.Category, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Category, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Brand)
        @Html.TextBoxFor(model => model.Brand, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label" })
        @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        <label asp-for="ProductPicture" class="control-label"></label>
        <div class="custom-file">
            <input asp-for="ProductPicture" class="custom-file-input" />
            <label class="custom-file-label" for="customFile"></label>
        </div>
        <span asp-validation-for="ProductPicture" class="text-danger"></span>
    </div>*@



@*    <div class="form-group">
        @Html.LabelFor(model => model.Model, htmlAttributes: new { @class = "control-label" })
        @Html.EditorFor(model => model.Model, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Model, "", new { @class = "text-danger" })
    </div>*@


@*    <div class="form-group">
        @Html.LabelFor(model => model.Price, htmlAttributes: new { @class = "control-label" })
        @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
    </div>

    <!-- Diğer input alanları da benzer şekilde devam eder -->

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button style="float: right;" type="submit" class="btn btn-success btn-lg">Kaydet</button>

        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
*@

@*<main id="main" class="main">
 <form method="post">
    <label class="control-label">Brand</label>
    @Html.TextBoxFor(m => m.Brand, new{@class = "form-control"})
    @Html.ValidationMessageFor(m=>m.Brand,"",new {@class="text-danger"})
        <br />
    <label class="control-label">Model</label>
    @Html.TextBoxFor(m => m.Model, new{@class = "form-control"})
    @Html.ValidationMessageFor(m=>m.Model,"",new {@class="text-danger"})
        <br />
    <label class="control-label">Category</label>
    @Html.TextBoxFor(m => m.Category, new{@class = "form-control"})
    @Html.ValidationMessageFor(m=>m.Category,"",new {@class="text-danger"})
        <br />
    <label class="control-label">Price</label>
    @Html.TextBoxFor(m => m.Price, new{@class = "form-control"})
    @Html.ValidationMessageFor(m=>m.Price,"",new {@class="text-danger"})
        <br />
    <label class="control-label">Description</label>
    @Html.TextBoxFor(m => m.Description, new{@class = "form-control"})
    @Html.ValidationMessageFor(m=>m.Description,"",new {@class="text-danger"})

<button style="float: right;" type="submit" class="btn btn-success btn-lg">Kaydet</button>
</form>
</main>*@


@*<input type="submit" value="Create" class="btn btn-primary" />*@


    @*@Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })*@

@*<form asp-action="ProductCreate" enctype="multipart/form-data">
                        <form method="post">*@

    <main id="main" class="main">
        <div class="container">
            <div class="card bg-dark">
                <div class="card-body">
                    <h5 class="card-title text-white">Gitar Ekle</h5>

                    <form class="row g-3 bg-dark" method="post" enctype="multipart/form-data">
                        <div class="col-12">
                            <label class="form-label">Marka</label>
                            <input asp-for="Brand" type="text" class="form-control" >
                        </div>
                        <div class="col-12">
                        <label class="form-label">Model</label>
                        <input asp-for="GuitarModel" type="text" class="form-control">
                        </div>
                        <div class="col-12">
                            <label class="form-label">Kategori</label>
                            <input asp-for="Category" class="form-control" >
                        </div>
                        <div class="col-12">
                            <label class="form-label">Fiyat</label>
                            <input asp-for="Price" type="text" class="form-control" >
                        </div>
                        <div class="col-12">
                            <label class="form-label">Açıklama</label>
                            <input asp-for="Description" type="text" class="form-control" >
                        </div>

                    <div class="form-group">
                        <label asp-for="ProductPicture" class="control-label"></label>
                        <div class="custom-file">
                            <input asp-for="ProductPicture" class="custom-file-input" />
                            <label class="custom-file-label" for="customFile">Dosya Seç</label>
                        </div>
                        <span asp-validation-for="ProductPicture" class="text-danger"></span>
                    </div>

                        <div class="mt-5">
                            <button style="float: right;" type="submit" class="btn btn-success btn-lg">Kaydet</button>
                            <a asp-action="Index" class="btn btn-danger btn-lg">İptal</a>
                        </div>
    </form>
                </div>
            </div>
        </div>
    </main>
    <br>
    <br>
    <br>

@*------------------------------------------------------------------------------------------------------------------------------*@
@*<div class="row">
    <div class="col-md-4">
        <form asp-action="ProductEdit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group" style="display:none;">
                <label asp-for="ProductId" class="control-label"></label>
                <input asp-for="ProductId" class="form-control" />
                <span asp-validation-for="ProductId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Brand" class="control-label"></label>
                <input asp-for="Brand" class="form-control" />
                <span asp-validation-for="Brand" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Model" class="control-label"></label>
                <input asp-for="Model" class="form-control" />
                <span asp-validation-for="Model" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ProductPicture" class="control-label"></label>
                <div class="custom-file">
                    <input asp-for="ProductPicture" class="custom-file-input" />
                    <label class="custom-file-label" for="customFile">Dosya Seç</label>
                </div>
                <span asp-validation-for="ProductPicture" class="text-danger"></span>
                <img src="~/Uploads/@Model.ImageUrl" height="120" class="card-img-top" height="80" width="80" asp-append-version="true">
            </div>
            <div class="form-group">
                <label asp-for="Category" class="control-label"></label>
                <input asp-for="Category" class="form-control" />
                <span asp-validation-for="Category" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Count" class="control-label"></label>
                <input asp-for="Count" class="form-control" />
                <span asp-validation-for="Count" class="text-danger"></span>
            </div>
            <br />

            <div class="form-group">
                <input type="submit" value="Düzenle" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<br />
<div>
    <button class="btn btn-secondary" name="button" value="cancel"><a style="color:white;text-decoration:none;" asp-action="ProductIndex">Ürün Listesine Dön</a></button>
</div>
*@

@*
<h4>ProductDto</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="ProductCreate" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Brand" class="control-label"></label>
                <input asp-for="Brand" class="form-control" />
                <span asp-validation-for="Brand" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Model" class="control-label"></label>
                <input asp-for="Model" class="form-control" />
                <span asp-validation-for="Model" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductPicture" class="control-label"></label>
                <div class="custom-file">
                    <input asp-for="ProductPicture" class="custom-file-input" />
                    <label class="custom-file-label" for="customFile">Dosya Seç</label>
                </div>
                <span asp-validation-for="ProductPicture" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Category" class="control-label"></label>
                <input asp-for="Category" class="form-control" />
                <span asp-validation-for="Category" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Count" class="control-label"></label>
                <input asp-for="Count" class="form-control" />
                <span asp-validation-for="Count" class="text-danger"></span>
            </div>
            <br />

            <div class="form-group">
                <input type="submit" value="Kaydet" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<br />
<div>
    <button class="btn btn-secondary" name="button" value="cancel"><a style="color:white;text-decoration:none;" asp-action="ProductIndex">Ürün Listesine Dön</a></button>
</div>*@
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}


